<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora JS</title>
</head>
<body>
    <header>
        <h1>Calculadora JS</h1>
    </header>
    <main>
        <div class="form-container">
            <form action="#" id="form-calculate">
                <input type="number" name="a" placeholder="a">
                <input type="number" name="b" placeholder="b">
                <input type="number" name="c"placeholder="c">

                <!-- <input type="submit" value="Enviar"> -->

                <button type="button" id="submit-button">Enviar</button>

            </form>
        </div>
        <div class="result-container">
            <p>Resposta: 
                <span class="result-span" data-result="resultado"></span>
            </p>
        </div>
    </main>
</body>
<script type="module" src="../controller/script.js"></script>
</html>