html, body {
    margin: 0;
    height: 100%;
}

header {
    height: 10%;
    justify-content: space-between;
    align-items: center;
    background-color: #3483ebde;
    border-radius: 0px 0px 5px 5px;
}

img {
    height: 70px;
    width: 250px;
}

.flex {
    display: flex;
}

.main-area {
    height: 80%;
}

.main-menu {
    justify-content: space-between;
    text-decoration: none; 
}

.link {
    margin: 0px 15px;
    text-decoration: none;
    color: #000;
    font-size: 1.5em;
}

.link:hover {
    font-size: 1.8em;
}

aside { 
    width: 20%;
    flex: 0.3;
    justify-content: right;
    display: flex;
    background-color: #fff2b3;
}

.list {
    list-style: none;
    width: 40%;
    font-size: 1.4em;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 70%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    align-content: flex-start;
}

.content-item {
    height: 200px;
    margin: 1%;
    min-width: 20%;
    flex: auto;
    border-radius: 8px;
    background-color: #022b3a9a;
    text-align: center;
}

.content-item:hover {
    box-shadow: 0 0 1em #3483EB;
}

footer {
    height: 10%;
    margin: 0;
    background-color: #3483EB;
    border-radius: 0px 100px 0px 0px;
    text-align: center;
}

.footer-text {
    margin: 0;
    padding: 0.5%;
}